.fridge-inventory {
  padding: 64px;

  display: flex;
  flex-direction: column;

  background-color: var(--primary-color);

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  overflow: hidden;
}

.fridge-inventory__title {
  font-size: 56px;
  font-family: var(--playfair-display);
  font-weight: 600;
  line-height: 78px;
  color: #fff;
  text-align: center;
}

.fridge-inventory__filters {
  margin-top: 48px;
  max-width: 100%;
  overflow-x: auto;

  display: flex;
  justify-content: center;
  gap: 24px;
}

.fridge-inventory__filter-btn {
  padding: 10px 28px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 46px;

  font-size: 16px;
  font-weight: 300px;
  line-height: 25px;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
  cursor: pointer;
}

.fridge-inventory__filter-btn img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.fridge-inventory__filter-btn.active {
  background: #fff;
  color: var(--primary-color);
}

.fridge-inventory__filter-btn:hover {
  background: #fff;
  color: var(--primary-color);
}

.fridge-inventory__catalogue {
  margin-top: 64px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 56px;
}

.fridge-inventory__button {
  width: fit-content;

  padding: 20px 30px;
  margin: 80px auto 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  font-family: var(--plus-jakarta-sans);
  color: #fff;

  border: none;
  outline: none;
  background: var(--secondary-color);
  border-radius: 64px;
  cursor: pointer;
}

.fridge-inventory__button img {
  width: 14px;
  height: 14px;
  object-fit: contain;

  margin-left: 21px;
}

.fridge-inventory__card {
  position: relative;
  padding: 38px;
  min-width: 260px;
  height: fit-content;

  display: flex;
  align-items: center;
  flex-direction: column;

  border-radius: 36px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.fridge-inventory__card-image {
  width: 110px;
  height: 84px;
  object-fit: contain;
}

.fridge-inventory__card-title {
  margin-top: 47px;

  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  font-family: var(--playfair-display);
  color: #fff;
  text-align: center;
}

.fridge-inventory__card-details {
  width: 100%;
  margin-top: 32px;
}

.fridge-inventory__card-rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.fridge-inventory__card-rating img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.fridge-inventory__card-rating p {
  font-size: 20px;
  font-weight: 300;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
}

.fridge-inventory__card-price {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
}

.fridge-inventory__card.active-card {
  background: #fff;
  min-width: 340px;
}

.fridge-inventory__card.active-card .fridge-inventory__card-image {
  width: 214px;
  height: 160px;
}

.fridge-inventory__card.active-card .fridge-inventory__card-title {
  color: var(--black-500);
  font-size: 32px;
}

.fridge-inventory__card.active-card .fridge-inventory__card-rating img {
  width: 32px;
  height: 32px;
}

.fridge-inventory__card.active-card .fridge-inventory__card-rating p {
  font-size: 24px;
  color: var(--gray-100);
}

.fridge-inventory__card.active-card .fridge-inventory__card-price {
  font-size: 24px;
  color: var(--secondary-color);
}

.fridge-inventory__catalogue1 {
  margin-top: 64px;

  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three cards per row */
  gap: 56px; /* Space between cards */

  justify-content: center;
  align-items: flex-start;
}
.fridge-inventory1 {
  padding: 64px;

  display: flex;
  flex-direction: column;

  background-color: var(--primary-color);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Adjust background size if needed */

  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
}

#add-item-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
}

.hidden {
  display: none;
}

.update-btn {
  background-color: var(--secondary-color); /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}
